.container{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0;
    bottom: 0;
    background: #000;  
    opacity: 0.02;
    display: none;
}
.inner-container {
    padding : 20px;
    height: 32px;
    border : 1px solid black;
    float: left;
    width : 25%;
    text-align: center;
    cursor: pointer;
}
.col {
    clear:both;
}
.inner-container:nth-last-child(2) {
    border-right: none;
}
.inner-container:first-child {
    border-left: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content:" ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
 * html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}